.coaches {
  padding: 0 0 170px;
  overflow: hidden;

  @include vp-1199 {
    padding: 0 0 92px;
  }

  @include vp-767 {
    padding: 0 0 70px;
  }
}

.coaches h2 {
  margin: 0 0 48px;

  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin: 0 0 31px;

    font-size: 42px;
    line-height: 50px;

    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 42px;

    font-size: 32px;
    line-height: 38px;
  }
}

.coaches__swiper-wrapper {
  position: relative;

  @include vp-1199 {
    padding: 0 56px;
  }

  @include vp-767 {
    padding: 0 32px;
  }
}

.coaches__button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  background-color: transparent;

  height: 100%;
  width: 96px;


  cursor: pointer;
  border: none;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: none;
    color: $color-default-white;
    border: none;
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  }

  @include vp-767 {
    width: 52px;

    & svg {
      width: 10px;
      height: 19px;
    }
  }

  &--prev {
    left: -96px;

    @include vp-1199 {
      left: -40px;
    }

    & svg {
      transform-origin: center;
      transform: rotate(180deg);
    }

    @include vp-767 {
      left: -22px;
    }
  }

  &--next {
    right: -96px;

    @include vp-1199 {
      right: -40px;
    }

    @include vp-767 {
      right: -22px;
    }
  }
}
