.form__field input {
  width: 100%;
  padding: 6px 0;

  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  outline: none;

  border: none;
  border-bottom: 1px solid $color-default-white;
  background-color: $color-transparent;
  box-shadow: none;

  &::placeholder {
    color: rgba($color-default-white, 0.7);
  }


  &:hover,
  &:focus-visible {
    box-shadow: inset 0 -3px 0 0 $color-default-white;
  }
}
