.reviews {
  padding: 7px 0 120px;

  @include vp-1199 {
    padding: 5px 0 120px;
  }

  @include vp-1199 {
    padding: 0 0 70px;
  }
}

.reviews h2 {
  margin: 0 0 35px;

  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  text-align: center;

  @include vp-1199 {
    margin: 0 0 40px;

    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin: 0 0 44px;

    font-size: 32px;
    line-height: 38px;
  }
}

.reviews__swiper-wrapper {
  position: relative;

  width: 560px;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-1199 {
    width: calc(100% - 64px);
    max-width: 566px;
  }
}

.reviews__item {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-areas:
    'image title'
    'image text';
  gap: 17px 28px;

  width: 560px;
  min-height: 242px;
  padding: 62px 62px 58px;

  background-color: $color-sapphire;
  color: $color-default-white;

  @include vp-1199 {
    width: 566px;
    padding: 60px 65px 58px;
  }

  @include vp-1199 {
    grid-template-columns: 84px auto;
    grid-template-areas:
    'image title'
    'text text';
    gap: 13px 15px;

    padding: 40px 25px 36px;

    width: calc(100% - 64px);
    max-width: 566px;
  }
}

.reviews__item > h3 {
  grid-area: title;
  margin: 0;

  font-size: 20px;
  line-height: 20px;

  @include vp-767 {
    margin: auto 0;

    font-size: 20px;
    line-height: 26px;
  }
}

.reviews__item > p {
  grid-area: text;
  margin: 0;

  font-size: 16px;
  line-height: 22px;

  @include vp-767 {
    text-align: center;
  }
}

.reviews__image-wrapper {
  grid-area: image;

  width: 80px;
  height: 80px;

  @include vp-767 {
    width: 68px;
    height: 68px;
    margin: 0 0 0 16px;
  }
}

.reviews__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 50%;
}

.reviews__button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  background-color: transparent;

  height: 100%;
  width: 96px;


  cursor: pointer;
  border: none;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include vp-767 {
    width: 52px;

    & svg {
      width: 10px;
      height: 19px;
    }
  }

  &--prev {
    left: -96px;

    & svg {
      transform-origin: center;
      transform: rotate(180deg);
    }

    @include vp-767 {
      left: -22px;
    }
  }

  &--next {
    right: -96px;

    @include vp-767 {
      right: -22px;
    }
  }
}
